.pod-setup-form {
    .ant-modal-title {
        button {
            float: right;
        }
    }
    .ant-alert {
        margin-bottom: 8px;
    }
    .setup-btn-container {
        text-align: right;
    }
    .ant-input-group-wrapper {
        margin-bottom: 8px;
    }
}